.wy-side-nav-search {
    background-color: #ffffff;
    color: #000000;
}

.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown>a {
    color: #000000;
}

.wy-side-nav-search>div.version {
    color: rgba(0, 0, 0, 0.3);
}

.wy-nav-side {
    background: #2D2232;
}

.wy-menu-vertical a {
    color: #d8d8d8;
}

.wy-body-for-nav {
    zoom: 1;
    background: rgb(255, 255, 255) url(http://static.pandora.net/design/consumer/images/platinum-pattern.jpg);
}

.wy-nav-content {
    background-color: #ffffff;
}

.wy-nav-top {
    background-color: #ffffff;
    color: #000000;
}

.wy-nav-top a {
    color: #000000;
}

.wy-nav-content-wrap {
    background: none;
}

.wy-side-nav-search input[type=text] {
    border-color: #b9b9b9;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #999;
}

.underline {
    text-decoration: underline;
}